<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
  <connectionStrings>
    <add name="Cnx" connectionString="Data Source=DESKTOP-MA9OT8A\SQLEXPRESS;Initial Catalog=Adopcionm;Integrated Security=True" />
  </connectionStrings>
  <appSettings>
    <add key="stServidor" value="smtp.gmail.com"/>
    <add key="stUsuario" value="noreplycrmtuto@gmail.com"/>
    <add key="stPassword" value="CRMtuto2018"/>
    <add key="stPuerto" value="587"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
</configuration>
